
<h1>Login Here</h1>
<form id="AddUser" role="form" method="post" action="/login">
  <table>
  <tr>
    <td><label>Enter User Name </label></td>
    <td><input type="text" placeholder="username" name="username" class="form-control"/></td>
  </tr>
  <tr>
      <td><label for="userpassword">Enter Password</label></td>
      <td><input id="inputUserPassword" type="password" placeholder="userpassword" name="userpassword" class="form-control"/></td>
  </tr>
  <tr>
    <td><button id="btnReset" type="submit">Reset</button></td> 
    <td><button id="btnSubmit" type="submit">submit</button></td>
    
  </tr>
  </table>
</form>